<!DOCTYPE html>
<html>

<head>
  <title><%- title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/sidebarjs@7.0.0/lib/sidebarjs.min.css">
</head>

<body>
  <!-- <%- include('sidebar.ejs') %> -->

  <div class="largeclock timeofday">
    <div class="timeofday digitalclock" id="clock">Day ?, ??:??:??</div>
  </div>
  <div id='map'></div>
  <% if(map == 'Ragnarok'){ %>
  <script src="/js/static/ragnarok.js"></script>
  <% } else if(map == 'TheIsland'){ %>
  <script src="/js/static/island.js"></script>
  <% } else if(map == 'Valguero_P'){ %>
  <script src="/js/static/valguero.js"></script>
  <% } else if(map == 'CrystalIsles'){ %>
  <script src="/js/static/crystal.js"></script>
  <% } else if(map == 'Aberration_P'){ %>
  <script src="/js/static/aberration.js"></script>
  <% } else if(map == 'TheCenter'){ %>
  <script src="/js/static/center.js"></script>
  <% } else if(map == 'ScorchedEarth_P'){ %>
  <script src="/js/static/scorched.js"></script>
  <% } else if(map == 'Extinction'){ %>
  <script src="/js/static/extinction.js"></script>
  <% } else if(map == 'Genesis'){ %>
  <script src="/js/static/genesis.js"></script>
  <% } else if(map == 'Fjordur'){ %>
  <script src="/js/static/fjoerdur.js"></script>
  <% } else if(map == 'Olympus'){ %>
  <script src="/js/static/olympus.js"></script>
  <% } else if(map == 'Gen2'){ %>
  <script src="/js/static/gen2.js"></script>
  <% } else if(map == 'LostIsland'){ %>
  <script src="/js/static/lostisland.js"></script>
  <% } else if(map == 'Caballus_P'){ %>
  <script src="/js/static/caballus.js"></script>
  <% } else if(map == 'TheIsland_WP'){ %>
  <script src="/js/static/theislandwp.js"></script>
  <% } else if(map == 'Svartalfheim_WP'){ %>
    <script src="/js/static/svartalheim.js"></script>
  <% } else if(map == 'ScorchedEarth_WP'){ %>
    <script src="/js/static/scorchedwp.js"></script>
  <% } else if(map == 'Aberration_WP'){ %>
    <script src="/js/static/aberrationwp.js"></script>
  <% } else if(map == 'TheCenter_WP'){ %>
      <script src="/js/static/center.js"></script>
  <% } else if(map == 'Extinction_WP'){ %>
      <script src="/js/static/extinction.js"></script>
  <% } else if(map == 'Astraeos_WP'){ %>
      <script src="/js/static/astraeos.js"></script>
  <% } %>
  <script>
    <%- mark %>
    <%- tribe_markers %>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
  <script type='text/javascript'
    src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
  <script src="https://unpkg.com/sidebarjs@7.0.0/lib/umd/sidebarjs.min.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/ws.js"></script>
</body>

</html>
